# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.pyo
*.pyd

# Jupyter Notebooks
.ipynb_checkpoints


# Models
/models/*.pt
/models/*.h5
/models/*.pkl
/models/*.joblib

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment
.env
*.env

# Frontend
/frontend/.next/
/frontend/node_modules/

# Docker
*.db

# Others
*.sqlite3
*.bak
*.tmp
*.swp
